{:deps {com.rpl/rama-helpers {:mvn/version "0.9.1"}}
 :paths ["src" "resources"]
 :aliases
 {:dev {:extra-paths ["test/resources/"]}
  :provided {:extra-deps {com.rpl/rama {:mvn/version "0.10.0"}}}}
 :mvn/repos {"releases" {:url "https://nexus.redplanetlabs.com/repository/maven-public-releases"}}}
